* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 20px;
    font-size: 15px;
}
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.full-screen {
    width: 100%;
}

.layar-dalam {
    width: 1000px;
    margin: auto;
}

/**====================================   CONFIG NAVBAR  =====================*/

nav {
    z-index: 100;
    color: #fff;
    text-align: center;
    position: fixed;
    /*border-bottom: 1px solid #b1b1b1;*/
    line-height: 60px;
    width: 100%;
    transition: background-color 1.5s ease;
}
nav.gamebyte {
    background-color: #fff;
}

nav.gamebyte ul li a {
    color: #333;

}

nav .logo {
    float: left;
    position: relative;
    line-height: 55px;
    text-align: center;
    margin: 0px 0px 0px 10px;
}
nav .logo img {
    width: 120px;
    vertical-align: top;
    float: left;
    margin: 10px 10px 21px 10px;
}

nav .logo img.gamebyteblack {
    display: none;
}

nav .menu {
    float: right;
    height: 60px;
    max-width: 600px;
}

nav .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav .menu ul li {
    list-style-type: none;
    float: left;
    line-height: 70px;
}

nav ul li a {
    color: #fff;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav.gamebyte {
    background-color: #fff;
}

nav.gamebyte .button-menu .garis {
    background-color: #333;
}


/**================================= CONFIG HEADER ==============================*/


header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}

header video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -2;
}

header .intro {
    z-index: 100;
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;

}

header .intro h3 {
    font-size: 50px;
    margin: 0;
    padding: 0;
    height: 80px;

}




/**===========================================   CONFIG BUTTON   ===========================*/

.button {
    background-color: #c86b85;
    height: 40px;
    line-height: 42px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0px 5px 0px 5px;
    font-size: 12px;
    border-radius: 4px;
    justify-content: space-between;
    
}

.button:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
}

header .overlay {
    position: absolute;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 75%;
}

.button-menu {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.button-menu .garis {
    height: 3px;
    background-color: #fff;
}

/**=====================================================  SECTION ================================*/

section {
    padding: 50px 0px 50px 0px;

}

section h3 {
    font-size: 30px;
}

section h3::after {
    content: "";
    border-bottom: 5px solid #c86b85;
    width: 52px;
    display: block;
    margin: 20px auto;
}

section p.ringkasan {
    font-style: italic;
    font-size: 18px;
    color: #ababab;
}

section .konten-isi p {
    font-style: normal;
}

section.gray {
    background-color: #f5f6f6;
}

.waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

.support,
.team,
.blog {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.support h6,
.team h6 {
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    font-size: 18px;
    font-weight: bold;
}

.support img {
    width: 50px;
}

.support div,
.team div {
    text-align: center;
    width: 26%;
}

/* change transition duration to control the speed of fade effect */
section#gallery .carousel-item {
    transition: transform 2.6s ease-in-out;
  }

section#gallery .carousel-item p {
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

section#gallery .carousel-fade .active.carousel-item-start {
    transition: opacity 0s 2.6s;
  }

section#gallery .carousel-fade .active.carousel-item-end {
    transition: opacity 0s 2.6s;
  }

/* section#gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}

section#gallery div #imggallery {
    width: 50px;
}

section#gallery div {
    padding: 5px;
}

section#gallery div img {
    height: 100px;
    border-radius: 5px;
}

section#gallery div img:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}

section#gallery h3 {
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
} */

section.quote {
    background:url("Materials/Images/genshin-impact-genshin-landscape-hd-wallpaper-preview.jpg") no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-style: italic;
    padding: 100px;
}

section.quote .layar-dalam p {
    display: inline;
    background: url("Materials/Images/quotation.png") no-repeat;
    background-size: 30px;
    padding: 30px;
    font-size: 25px;
    font-weight: bold;
}


.team img {
    width: 100%;
    box-shadow: 0px -10px 30px #ccc;
    border-radius: 5px;
}

.blog {
    /* background:url("Materials/Images/white.jpg") no-repeat; */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.blog .area {
    width: 47%;
    box-shadow: 0px -10px 30px #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blog div.area div {
    width: 50%;
}

.blog .area .gambar {
    border-radius: 5px 0px 0px 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}

.blog .area .text article {
    padding: 40px;
}

.blog .area .text article h4 {
    margin: 0px;
}

.blog .area .text article a {
    color: #333;
    text-decoration: solid;
    transition: color 0.5s ease;
}

.blog .area .text article a:hover {
    color: #ccc;
}

section#contact {
    background-color: #d7d7d7;
}

section#contact h3,p {
    text-align: center;
}

section#contact p {
    text-align: center;
    color: #ababab;
    font-size: 18px;
}

/**=====================================================  SECTION ABOUT US  ===========================*/

#aboutus,
#team,
#blog {
    text-align: center;
}

/**========================================================   FOOTER  ===============================*/

footer {
    padding: 0px 0px 50px 0px;
    background-color: #343a40;
    color: #fff;
}

footer .layar-dalam {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .layar-dalam div {
    width: 20%;
}

footer .layar-dalam h5 {
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
}

footer .layar-dalam .copyright {
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    /* border-top: 1px solid #666; */
    text-align: center;
    font-size: 25px;
}

/* footer#contact {
    width: 1000px;
    margin: auto;
}

footer#contact h3,p {
    text-align: center;
} */

/**=============================================  CONFIG MEDIA & SCREEN  ======================*/

@media screen and (max-width: 1080px) {
    .layar-dalam {
        width: 90%;
    }

    nav .menu ul {
        display: none;
        margin-top: 60px;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }

    nav .menu ul li {
        width: 100%;
        border-bottom: 1px solid #ccc;
        background-color: #fff;
        line-height: 40px;
    }

    nav .menu ul li a {
        color: #333;
    }

    .button-menu {
        display: flex;
    }

    .blog .area {
        display: block;

    }

    .blog div.area div {
        width: 100%;
    }

    .blog .area .gambar {
        border-radius: 5px 5px 0px 0px;
        height: 200px;
    }

    @media screen and (max-width: 780px) {

        html {
            margin: 0;
            padding: 0;
            scroll-behavior: smooth;
            overflow-x: hidden;
        }

        body {
            margin: 0px;
            padding: 0px;
            overflow-x: hidden;
        }
    }

/*!=============================   OPTIONAL (Responsif utk Support Section ) ================*/

/*
    .support {
        display: block;
    }

    .support div {
        width: 100%;
        padding-bottom: 30px;
    }
    */

/*!===========================================================================*/

/*!=================================        BREAKPOINT (RESPONSIVE CONFIGS)   ================*/


}
